.servicePage h2{
    font-size: 40px;
}
.hero-text h2 {
    font-size: 30px !important;
    font-family: Art Basel Headline,Playfair Display,serif;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1px;
    text-align: center;
    color: #fff;
}
.typeWriter-text{
    color: #f56613;
}
.serviceFirstSec .letsTalkBtn:hover{
    background-color: #dc6e1f;
    color: white;
}
.serviceFirstSec .letsTalkBtn:hover span{
    color: white !important;
}
.serviceSecondSec .letsBuildDiv{
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin-top: 0;
    margin-bottom: -80px;
    padding: 50px 30px;
    border-radius: 20px;
    width: 100%;
    margin: 80px 0;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.serviceSecondSec{
    position: relative;
    margin-bottom: -200px;

    z-index: 5;
}
.serviceSecondSec .letsBuildDiv .getInTouchBtn{
    box-shadow: 0 20px 70px 0 rgb(55 5 118 / 30%);
    color: #fff;
    background-color: #ef4b6c;
    height: 50px;
    padding: 16px 32px;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    font-size: .688rem;
    line-height: 18px;
    letter-spacing: 1.54px;
    text-transform: uppercase;
    width: 220px;
    margin: 20px 0 0;
    /* width: max-content; */
    border-radius: 25px;
    /* transition: all 0.2s; */
    cursor: pointer;
    z-index: 2;
}
.serviceSecondSec .letsBuildDiv .getInTouchBtn:hover{
    background-color: #f0234c;


}
.serviceSecondSec .letsBuildDiv h2{
    font-size: 28px;
}
.servicePage .publication{
    color: white;
    background-color: #563cc9;
    padding: 80px 0;
}
@media (min-width: 1280px){
    .servicePage h2{
        font-size: 50px;
    }
    .serviceSecondSec .letsBuildDiv h2{
        font-size: 50px;
    }
}
@media (min-width: 768px){
    .hero-text h2 {
        font-size: 35px !important;
    }
    .serviceSecondSec .letsBuildDiv h2{
        font-size: 45px;
    }
    .servicePage h2{
        font-size: 45px;
    }
    .serviceSecondSec .letsBuildDiv{
        box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
        transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
        margin-top: 0;
        margin-bottom: -80px;
        padding: 80px 50px 70px;
        border-radius: 20px;
        width: 100%;
        margin: 80px 0;
        max-width: 940px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
    }


}
@media (max-width: 991px){
    .text-center-lg{
        text-align: center;
    }
     
}

/* service section */
.service-container{
    z-index: 10;
    padding: 100px 0 84px;
}
.services-col{
    padding: 50px 20px;
    margin-top: 35px;
    margin-bottom: 25px;
    text-align: center;
    height: 200px;
    position: relative;
    background: #fff;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.service-container .col-hover::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #563cc9;
    transition: width .3s;
    margin-top: -26px;
}
.service-container .col-hover:hover::after {
    width: 100%;
    /* transition: width .3s; */
}
.services-col .circle {
    position: absolute;
    top: -36px;
    left: calc(50% - 36px);
    transition: 0.2s;
    border-radius: 50%;
    border: 6px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 72px;
    height: 72px;
    background: #563cc9;
}

.services-col img{
    width: 30px;
}
.services-col p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    color: #626881;
}
.services-col .icon{
    color: #fff;
    font-size: 24px;
    line-height: 0;
}

.service-container .heading{
    position: relative;
    text-align: center;
}
.service-container .heading::before{
    width: 40px;
    height: 2px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: #ef4b6c;
    transform: translateX(-50%);
}
.z-1{
    z-index: 1;
}
.z-10{
    z-index: 10;
}
.z-30{
    z-index: 10;
}
.z-50{
    z-index: 10;
}
.filter-invert{
    filter: invert(1);
}

/* desscription */
.desc-section{
    margin-top: 200px;
    margin-bottom: 120px;
}
.desc-section .heading{
    position: relative;
    /* text-align: center; */
}
.desc-section img{
    border-radius: 10px;
}
.fs-20{
    font-size: 20px;
}
/* .desc-section .heading::before{
    width: 40px;
    height: 2px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: #ef4b6c;
    transform: translateX(-50%);
} */
.descLogoDiv{
    border-top: 2px solid #e0dee6;
    position: relative;
    z-index: 1;
    justify-content: center;
    display: flex;
}
.descLogoDiv .circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #d9d7e2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    margin-top: -80px;
}
.descLogoDiv .icon{
    font-size: 110px;
}
.lh1-5{
    line-height: 1.5;
}
.mt-100{
    margin-top: 100px;
}
.footerAddressRow{
    justify-content: center;
    text-align: center;
    /* padding-top: 70px; */
    color: white;
    border-top: 1px solid #af98da;
    padding-top: 20px;
}
.HowWorkSection{
    padding: 50px 0;
    text-align: center;
    background-image: linear-gradient(to bottom right,#c04de2,#340c7f);
    color: white;
}
.HowWorkSection p{
    color: white;
}
.moretext {
    display: none;
}
.moreless-button{
    background: none;
    border: none;
    color: #8254e5;
    outline: none;
}   
.moreless-button:hover,.moreless-button:focus{
    outline: none;
    text-decoration: underline;
}
.problemsSec{
    padding: 90px 0;
}
.problemsSec .problemsSecCol1{
    padding: 75px 40px;
    background-color: #b5c3f1;
    color: black;
    border-radius: 40px;
}
.problemsSec .problemsSecCol2{
    padding: 60px 40px;
    background-color: #340c7f;
    color: #eae0e0;
    border-radius: 40px;
    margin: 0 55px 0 -55px;
}
.problemsSecCol1 p{
    color: black;
}
.problemsSecCol2 p{
    color: white;
}
.problemsSec .problems{
    font-size: 18px;
    font-weight: 500;
    padding-left: 3rem;
    margin-bottom: 0.5rem;
}
.problemsSec .problems2{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.problemsSec h2{
    color: #340c7f;
    font-size: 28px;
    margin-bottom: 30px;
}
.problemsSec .row{
    align-items: center;
}
@media(max-width:768px){
    .problemsSec .problemsSecCol2{
        
        margin: 0;
    }
    .problemsSec .problems2{
        padding-left: 3rem;
        margin-top: 2rem;
    }
}
.slide {
    display: none;
    background: salmon;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 300px;
  }
  
.Sliders{
    transition: transform 0.5s ease-in-out;

}
  .active {
    display: block;
  }
  .itemSlider:not(.Active) {
    visibility: hidden;
    opacity: 0;
    display: none;
}
.buttonsSlider .next {
    cursor: pointer;
    color: #fff;
    position: absolute;
    right: 2%;
    top: 55%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 100px;
    transition-duration: 0.1s;
    font-size: 30px;
}
.buttonsSlider .next:hover {
    transform: translateY(-50%) scale(1.1, 1.1);
}
.prev {
    cursor: pointer;
    color: #fff;
    position: absolute;
    left: 2%;
    top: 55%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 100px;
    transition-duration: 0.1s;
    font-size: 30px;
}
.prev:hover {
    transform: translateY(-50%) scale(1.1, 1.1);
}
.dots {
    display: flex;
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
}
.dots .dot {
    width: 15px;
    height: 15px;
    display: flex;
    border-radius: 100px;
    margin: 0 5px;
    cursor: pointer;
}
.dots .dot:not(.ActiveDot) {
    background-color: #b5c3f1;
}

.dot.ActiveDot {
    background-color: #340c7f;
}

.itemSlider.Active {
    visibility: visible;
    opacity: 1;
    display: flex;
}

/* token section */
.tokenDiv{
    padding: 20px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    border-radius: 10px;
    text-align: center;
    border-bottom: 5px solid #340c7f;
    transition: all 0.3s;
}
.tokenDiv:hover{
    transform: translateY(-10px);
}
.tokenSec{
    margin-top: 120px;
    margin-bottom: 120px;
}
.tokenDiv .tokenHeading{
    height: 100px;
    width: 100px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
    background-color: #340c7f;
    color: white;
    border: 5px solid #c04de2;
}
.tokenSec h2{
    margin-bottom: 40px;
    color: #340c7f;
}
.outline-none{
    outline: none;
}
.outline-none:focus,.outline-none:active{
    outline: none;
}
.phoneIcon{
    transform: rotateY(180deg);
}
.footerContactDiv ul{
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
.footerContactDiv a{
    display: flex;
    text-decoration: none;
    color: #fff;
    margin-bottom: 2px;
}
.footerContactDiv a:hover{
    text-decoration: underline;
    color: #fff;
    opacity: 0.8;
}
